.center {
    text-align: center;
}
#carouselExampleIndicators {
    text-align: center;
    margin: auto;
}
.carusel-image {
    width: 500px;
    height: 400px;
}

.form {
    width: 60vw;
    text-align: center;
    margin: auto;
}